## Lending Club Loans: Machine Learning

#### Importing the packages and data

In [1]:
import pandas as pd
import pandas_profiling
import numpy as np

In [4]:
lc_loans = pd.read_csv("python_ml_data/ml_data.csv")
lc_loans.head()

,loan_status,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,pymnt_plan,desc,purpose,debt_to_income_ratio,derog_pub_rec,mean_fico_scores,grade
0,Fully Paid,5000,36 months,10.65,162.87,10 +,RENT,24000.0,Verified,0,1,credit_card,27.65,0,737,B
1,Charged Off,2500,60 months,15.27,59.83,More than 1,RENT,30000.0,Source Verified,0,1,car,1.00,0,742,C
2,Fully Paid,2400,36 months,15.96,84.33,10 +,RENT,12252.0,Not Verified,0,0,small_business,8.72,0,737,C
3,Fully Paid,10000,36 months,13.49,339.31,10 +,RENT,49200.0,Source Verified,0,1,other,20.00,0,692,C
4,Fully Paid,5000,36 months,7.90,156.46,3,RENT,36000.0,Source Verified,0,0,wedding,11.20,0,732,A

In [5]:
pandas_profiling.ProfileReport(lc_loans)

TypeError: concat() got an unexpected keyword argument 'join_axes'

### Data Cleaning

In [7]:
# Data has been cleaning in R
lc_loans.head()

,loan_status,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,pymnt_plan,desc,purpose,debt_to_income_ratio,derog_pub_rec,mean_fico_scores,grade
0,Fully Paid,5000,36 months,10.65,162.87,10 +,RENT,24000.0,Verified,0,1,credit_card,27.65,0,737,B
1,Charged Off,2500,60 months,15.27,59.83,More than 1,RENT,30000.0,Source Verified,0,1,car,1.00,0,742,C
2,Fully Paid,2400,36 months,15.96,84.33,10 +,RENT,12252.0,Not Verified,0,0,small_business,8.72,0,737,C
3,Fully Paid,10000,36 months,13.49,339.31,10 +,RENT,49200.0,Source Verified,0,1,other,20.00,0,692,C
4,Fully Paid,5000,36 months,7.90,156.46,3,RENT,36000.0,Source Verified,0,0,wedding,11.20,0,732,A

In [8]:
# No NA values remain in the data set
lc_loans.isna().sum()

loan_status             0
loan_amnt               0
term                    0
int_rate                0
installment             0
emp_length              0
home_ownership          0
annual_inc              0
verification_status     0
pymnt_plan              0
desc                    0
purpose                 0
debt_to_income_ratio    0
derog_pub_rec           0
mean_fico_scores        0
grade                   0
dtype: int64